@import url(/font.css);
*{
    zoom: 100%;
}
body{
    background-color: black;
    

}

.cv{
    position: relative;
    left: 33%;
}
h1{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 0% 87%;
    text-decoration: none;

}
h1:
